@font-face {
    font-family: futureN;
    src: url(./fonts/futureN.otf);
}

*{
    font-family: futureN;
    margin:0;
    padding:0;
}
.grid-1{
    display: grid;
    grid-template-rows: 95vh 5vh;
}
.grid-2{
    display: grid;
    grid-template-columns: 25% 50% 25%;
    height:100%;
}
.grid-3{
    display: grid;
    grid-template-rows: 20% 80%;
    width:100%;
}
.grid-4{
    display: grid;
    grid-template-rows: 10% 40% 50%;
    width:100%;
}
.flex{
    display:flex;
}
.banana-amount{
    border:none;
    width:100%;
    font-size: 30px;
    padding:30px;
    height:100px;
    color:white;
}
.shop{
    width:100%;
}
.inventory{
    width:80%;
    align-self: flex-end;
}
body{
    background-image: url("./images/background.gif");
    background-size:cover;
}
.ground{
    background-color: grey;
    border:none;
}
.flex-center{
    justify-content: center;
}
.tree{
    border: solid grey 10px;
}
.monkey{
    position:relative;
    top:0;
    left:0;
    width:30px;
    height:30px;
    background-image: url("./images/monkey.gif");
    background-size:cover;
    border:none;
}
.spaceship{
    height:100%;
    max-height:100px;
}
.shop-container{
    align-items: flex-end;
}
.shop-hud, .inventory-hud{
    z-index:1;
    width:50%;
    height:50vh;
    position:absolute;
    top:25vh;
    left:25%;
    display: flex;
    flex-direction: column;
    background-color: lightsteelblue;
    border-radius: 5%;
    visibility: hidden;
}
.x-out1, .x-out2{
    z-index: 1000;
    background-color: red;
    width:30px;
    height:30px;
    align-self: flex-end;
    margin:10px;
    border-radius:15%;
    text-align: center;
    font-weight:bold;
    font-size:3vmin;
    transition: .3s ease;
    border:solid black 1px;
}
.x-out1:hover ,.x-out2:hover{
    background-color: crimson;
    cursor: pointer;
}
.items{
    width:100%;
    height:30vmin;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.defense, .auto-clicker, .speed, .weapons{
    width: 30%;
    height:100%;
    border:solid darkslategrey 1px;
    background-color: lightslategray;
    font-size:3vmin;
    text-align: center;
    transition: .3s ease;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   
}
.defense:hover, .auto-clicker:hover, .speed:hover, .weapons:hover{
    background-color: darkslategrey;
    cursor: pointer;
}
.inventory-title, .hp-label, .weapon-label, .damage, .bpc, .bps{
    text-align: center;
    font-size:4vmin;
    margin:1vmin;
}
.weapon-img{
    width:5vmin;
}
.shop-title{
    text-align: center;
    margin-top:4vmin;
    font-size:6vmin;
    color:rgb(118, 117, 117);
}
.inventory-title{
    margin-top:-3vmin;
    font-size:8vmin;
    color:rgb(118, 117, 117);
}
.gameover{
    z-index: 10000;
    width:100%;
    height:100vh;
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top:0;
    left:0;
    visibility: hidden;
}
.gameover-title{
    color:brown;
    font-size:20vmin;
}
.play-again{
    width:30vmin;
    height:30vmin;
    border-radius: 100%;
    background-color: silver;
    border:solid darkslategrey 2px;
    font-size:5vmin;
    transition: .3s ease;
}
.play-again:hover{
    background-color: rgb(145, 145, 145);
    cursor:pointer;
}
.play-again:active{
    background-color: rgb(103, 103, 103);
}
.bossfight-box{
    width:60vmin;
    position: absolute;
    left:60%;
    top:10%;
    visibility: hidden;
}
.healthbar{
    background-color: red;
    width:100%;
    height:6vmin;
    border-radius: 5%;
}
.boss{
    width:100%;
}
.health{
    width:100%;
    height:100%;
    background-color: green;
}