*{
    margin:0;
    padding:0;
}
body{
    background-size: cover;
}
.flex{
    display:flex;
    /* justify-content: center;
    align-items: center; */
}
.flex-center{
    display:flex;
    justify-content:center;
    align-items: center;
}
.top-section{
    width:100%;
    height:80vh;
}
.bot-section{
    width:100%;
    height:20vh;
}
.grid-2{
    display:grid;
    grid-template-rows: 20% 80%;
}
.grid-2a{
    display:grid;
    grid-template-rows: 30% 70%;
}
.title, .blocks{
    font-size:40px;
    font-weight:bold;
    width:100%;
    text-align: center;
    height:50px;
    border:none;
}
.pickaxe, .block{
    width: 60%;
    height: 60%;
    border:none;
    transition: .05s ease;
    align-self: center;
}
.block:hover{
    width:65%;
    height:65%;
}
.block:active{
    width:60%;
    height:60%;
}
.pickaxe{
    margin-left: 60%;
}
.upgrade-container{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.block-upgrade, .pickaxe-upgrade, .dimension{
    height:20%;
    width:80%;
    border-radius: 20%;
    cursor:pointer;
    font-size:30px;
    background-color: lightgreen;
}
.block-upgrade:hover, .pickaxe-upgrade:hover, .dimension:hover{
    background-color: rgb(95, 163, 95);
    height:21%;
    width:81%;
    transition: .15s ease;
}
.block-upgrade:active, .pickaxe-upgrade:active, .dimension:active{
    background-color: rgb(74, 128, 74);
    height:20%;
    width:80%;
    transition: .15s ease;
}
.enchantment-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.enchantments{
    width:50%;
    height:90%;
    border:none;
}
.villager-label{
    text-align: center;
    font-size:3vmin;
    width:100%;
}
.villager-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.villager1, .villager2, .villager3{
    width: 10%;
    height:100%;
}
.enchantments:hover{
    width:55%;
    cursor:pointer;
}
.villager1:hover, .villager2:hover, .villager3:hover{
    width:12%;
    cursor: pointer;
}
.enchantment-popup{
    visibility: hidden;
    position: absolute;
    width:80vmin;
    height:60vmin;
    top:20vmin;
    left:50%; 
    transform: translate(-50%);
    border: solid 1px darkslategrey;
    border-radius:5%;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.enchant-title{
    font-family: sans-serif;
    text-align: center;
    margin: 1vmin;
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%);
}
.fortune, .efficiency, .rarity{
    width:30%;
    height:40%;
    background-color: dimgrey;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: .3s ease;
}
.enchant-label{
    font-size:3vmin;
}
.enchant-x{
    position: absolute;
    top:1vmin;
    right:1vmin;
    width:3vmin;
    height: 3vmin;
    font-weight: bold;
    background-color: maroon;
    border-radius: 15%;
}
.fortune-img, .efficiency-img, .rarity-img{
    width:15vmin;
    height:15vmin;
    border:solid darkslateblue 1px;
    border-radius: 15%;
}
.fortune:hover, .efficiency:hover, .rarity:hover{
    background-color: rgb(85, 85, 85);
    cursor: pointer;
}